* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-medium", sans-serif;
}

@font-face {
    font-family: "Shrikhand";
    src: url(./assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

header {
    position: fixed;
    width: 100%;
}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    box-shadow: 0 0 5px rgb(168, 167, 167);
    
    p {
        font-family: "Shrikhand", sans-serif;
        font-size: 30px;
    }
}

.header__localisation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(243, 243, 243);
    z-index: -1;

    p {
        font-weight: 600;
        margin-left: 15px;
        color: rgb(60, 60, 60);
    }

    i {
        color: rgb(60, 60, 60);
    }
}
