main {
    background-color: rgb(245, 245, 245);
}

.menu-bg {
    img {
        width: 100%;
        object-fit: cover;
        max-height: 300px;
    }
}

.menu {
    position: relative;
    border-radius: 40px 40px 0 0;
    padding: 0 10px 75px 15px;
    background-color: $menu-color;
    top: -40px;
    z-index: 100;

    &__title {
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;

    }

    &__entrees-plats-desserts {
        margin: 30px 0;


        h2 {
            position: relative;
            max-width: 900px;
            margin: auto;
            padding: 0 0 10px 10px;
            &::after {
                content: "";
                position: absolute;
                width: 35px;
                height: 3px;
                background-color: $tertiary-color;
                bottom: 5px;
                left: 10px;
            }
        }

    }

    .btn-container {
        margin-top: 75px;
        text-align: center;

        .btn--gradient {
            padding: 20px 50px;
        }

    }

}

