footer {
    background-color: rgb(58, 58, 58);
    padding: 20px;
    h3 {
        padding: 0 0 20px 0;

        @media (min-width: 800px) {
            padding: 0;
        }
    }

    @media (min-width: 800px) {
        display: flex;
        align-items: center;
        height: 100px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        max-width: 1850px;
        margin: 0 auto;
        a {
            padding-bottom: 8px;
            
            &:hover {
                text-shadow: 0 0 2px #fff;
                transition: .2s;
            }
            i {
                padding-right: 13px;
            }
        }
        
        a:first-child i {
            padding-right: 18px;
        }

        @media (min-width: 800px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}