footer {
    background-color: rgb(58, 58, 58);
    padding: 20px;

    h3 {
        padding: 0 0 20px 0;
    }

    a i {
        padding-right: 8px;
    }

    a:first-child i {
        padding-right: 13px;
    }

}