footer {
    background-color: rgb(58, 58, 58);
    padding: 20px;

    h3 {
        padding: 0 0 20px 0;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        width: 200px;

        a {
            padding-bottom: 8px;
            &:hover {
                text-shadow: 0 0 2px #fff;
                transform: scale(1.05);
                transition: .2s;
            }
            i {
                padding-right: 13px;
            }
        }
        
        a:first-child i {
            padding-right: 18px;
        }

        @media (min-width: 800px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }



}