header {
    width: 100%;
    z-index: 100;

    &:hover .header__logo__go-back i {
        transform: rotate(1turn);
        transition: .4s ease-in-out;
    }
}

.header__logo {
    width: 100%;
    max-width: 1200px;
    height: 65px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgb(168, 167, 167);
    clip-path: inset(0px 0px -5px 1px);
    
    img {
        padding-top: 5px;
        width: 165px;
    }

    &__go-back {
        padding-top: 5px;

        i {
            font-size: 20px;
            text-shadow: 0 0 1px black;
            margin-left: 20px;
        }
    }
}