.btn--gradient {
    color: white;
    background: linear-gradient(350deg, rgba(147,86,220,1) 5%, rgba(255,121,218,1) 100%);
    padding: 17px 24px;
    border-radius: 40px;
    transition: all .3s;
    &:hover {
        background: linear-gradient(350deg, lighten(rgba(147,86,220,1), 10%) 3%, lighten(rgba(255,121,218,1), 10%) 100%);
        box-shadow: 0 0 10px black;
        text-shadow: 0 0 2px white;
    }
}