// BASE

body {
    font-family: "Roboto-medium", sans-serif;
}

a {
    font-size: 17px;
    font-weight: 500;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 800;
    padding-top: 25px;
    margin-top: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 800;
    
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 800;
}

p {
    font-size: 18px;
}

footer {
    h3 {
        font-family: "Shrikhand", sans-serif;
        color: #fff;
        font-weight: 100;
    }
    
    a {
        color: #fff;
        font-size: 15px;

        i {
            font-size: 12px;
        }
    }
}

.btn--gradient {
    text-shadow: 0 0 1px #fff;
}

// Pages : ACCUEIL

.booking {
    &__localisation {
        color: $grey-color;
        p {
            font-weight: 600;
            font-size: 17px;
            letter-spacing: -1px;
        }
    }
}

.restaurants__grid-container__card {
    
    p {
        font-size: 17px;
    }
    
    &::after {
        font-family: "Roboto", sans-serif;
        color: darken($tertiary-color, 37%);
        font-size: 15px;
        font-weight: 500;
    }
}


// Pages : RESTAURANTS

.menu {
    &__title {
        h1 {
            font-family: "Shrikhand", sans-serif;
            font-weight: 400;
            font-size: 28px;
        }
    }

    &__entrees-plats-desserts {
        h2 {
            font-weight: 400;
            font-size: 17px;
            color: $grey-color;
        }
    }

    .card {
        &__left {
            h3 {
                font-size: 17px;
                font-weight: 600;
            }

            p {
                font-size: 15px;
                font-weight: 300;
                color: $grey-color;
            }
        }

        &__right {
            p {
                font-size: 15px;
                font-weight: 600;
                color: darken($grey-color, 10%);
            }
        }
    }
}