@font-face {
    font-family: "Shrikhand";
    src: url(./assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

body {
    font-family: "Roboto-medium", sans-serif;
}

h1 {
    padding-top: 25px;
    margin-top: 0;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 18px;
}

a {
    font-size: 18px;
}