@font-face {
    font-family: "Shrikhand";
    src: url(./assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

body {
    font-family: "Roboto-medium", sans-serif;
    letter-spacing: -1px;
}

a {
    font-size: 17px;
    font-weight: 500;
}

::after {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 800;
    padding-top: 25px;
    margin-top: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    
}

h3 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 18px;
}

footer {
    h3 {
        font-family: "Shrikhand";
        color: #fff;
        font-weight: 100;
    }
    
    a {
        color: #fff;
        font-size: 15px;

        i {
            font-size: 12px;
        }
    }
}

// Page : A la française

.menu {
    &__title {
        h1 {
            font-family: "Shrikhand", sans-serif;
            font-weight: 400;
        }
    }

    &__entrees {
        h2 {
            font-weight: 400;
            font-size: 15px;
            color: rgb(90, 90, 90);
        }
    }

    .card {
        &__left {
            h3 {
                font-weight: 500;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: rgb(90, 90, 90);
            }
        }

        &__right {
            p {
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}