@font-face {
    font-family: "Shrikhand";
    src: url(./assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

body {
    font-family: "Roboto-medium", sans-serif;
}

h1, h2 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 100;
}