@font-face {
    font-family: "Shrikhand";
    src: url(./assets/fonts/Shrikhand/Shrikhand-Regular.ttf);
}

body {
    font-family: "Roboto-medium", sans-serif;
    letter-spacing: -1px;
}

a {
    font-size: 17px;
    font-weight: 500;
}

::after {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 800;
    padding-top: 25px;
    margin-top: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 600;
    
}

h3 {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 18px;
}

footer {
    h3 {
        font-family: "Shrikhand";
        color: #fff;
        font-weight: 100;
    }
    
    a {
        color: #fff;
        font-size: 15px;

        i {
            font-size: 12px;
        }
    }
}