.booking {
    
    &__localisation {
        @include flex-center;
        width: 100%;
        height: 50px;
        background-color: rgb(233, 233, 233);
        
        p {
            margin-left: 15px;
        }
    }
    
    &__explore {
        padding: 10px 20px 70px 20px;
        text-align: center;
        background-color: rgb(245, 245, 245);

        h1 {
            margin: 10px 20px;
        }
    
        p {
            color: rgb(110, 110, 110);
            padding-bottom: 50px;   
        }

        .btn--gradient {
            margin-bottom: 30px;
        }
    }
}

.fonctionnement {
    background-color: #fff;
    padding: 60px 0;
    
    h2 {
        padding-left: 15px;
    }

    &__grid-container {
        margin-top: 30px;
        margin-left: 30px;
    }
}

.restaurants {
    background-color: rgb(245, 245, 245);
    padding: 40px 0;
    width: 100%;

    h2 {
        margin: 10px 0 0 20px;
    }

    &__grid-container {
        margin: 20px 0;
    }
}