// colors

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey-color: #505050;
$menu-color: #f5f5f5;

// box-shadow 

$box-shadow-btn : 0 0 5px rgba(0, 0, 0, .5);
$box-shadow-card: 0 5px 10px rgba(0, 0, 0, .15);